.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
    width:100%;
}
.calc-wrapper{
    width:400px;
    height:600px;
}
.rowot{
    display: flex;
    width:100%;
}
